@import "variables.styl"
@import "mixins.styl"
@import "global/custom.styl"

@import "block/1-header.styl"
@import "block/2-search.styl"
@import "block/3-filter.styl"
@import "block/4-offer.styl"
@import "block/5-services.styl"
@import "block/6-footer.styl"


// Порядок подключение [ ВАЖЕН ]
// Данные стили должны подключаться последним файлом

// Динамически переопределяющие заготовки .классов
@import "global/dynamic.styl"
