colorBg = #f3f1f2

colorRed = #e94e38

colorLightGray = #96a6a7
colorBlackGray = #566375

colorGreen = #1baf5d
colorOrange = #f19e1f
colorPurple = #88499c
colorBlue = #1d73b0
colorCyan = #1db0ab

colorLightBorder = #e2dee0

font-size = 14px
base-line-height = 24px
width-box = width
height-box = height
