html
	font-size font-size  //14px
	line-height base-line-height

body
	font-family 'GTM-Medium'
	color black
	background-color colorBg
	font-size font-size  //14px

@font-face {
	font-family GTM-Book
	src url(../fonts/GTM-Book.woff) format('woff')
	font-weight 400
	font-style normal
}

@font-face {
	font-family GTM-Medium
	src url(../fonts/GTM-Medium.woff) format('woff')
	font-weight 400
	font-style normal
}

@font-face {
	font-family GTM-Bold
	src url(../fonts/GTM-Bold.woff) format('woff')
	font-weight 700
	font-style normal
}


//
// <a> Link Style
//


//
// <img> Link Style
//

img
	max-width 100%  // or width 100% но max-width лучше, так как не растянется больше чем свой оригинальный размер
	height auto


.load-more
	position relative
	font-family 'GTM-Medium'
	color colorBlackGray
	line-height rem(28rem)
	border none
	background-color transparent
	cursor pointer


.btn
	position relative
	border none
	outline none
	margin 0px
	padding 10px 10px
	text-transform uppercase
	width 150px
	max-width 150px
	min-height 75px
	max-height 75px
	overflow hidden
	// text-overflow ellipsis
	overflow-wrap break-word
	word-wrap break-word
	font-family 'GTM-Medium', Arial, Verdana, sans-serif
	background-color colorRed
	color white
	cursor pointer


//
// <placeholder text> Link Style
//

input:-ms-input-placeholder  //for IE  (Глобально (:-ms-input-placeholder) не работает, нужно указывать цель)
	color white
	font-size 16px


::-ms-input-placeholder  // for Edge
	color white
	font-size 16px


::-moz-placeholder
	color white
	font-size 16px
	opacity 1  // иначе присутствует прозрачность

::-webkit-input-placeholder
	color white
	font-size 16px



// [svg style]
// [GLOBAL]

.svg-button
	position absolute
	pointer-events none
	size(rem(13rem), rem(13rem))  // base size


.svg-wr
	display flex
	background-color transparent
	border-radius 50%


.svg
	margin auto


.svg-stroke
	stroke-width 15px
	stroke currentColor


svg
	width 25px
	height 25px

.svg-star
	fill none
	stroke-width 30px
	stroke orange
	margin-right -3px

.svg-star--on
	fill orange

.svg-star--off
	fill none

.svg-star--small
	width 16px
	height 16px

.svg-star--big
	width 22px
	height 22px


// [animate 1]

@keyframes arrow-down
	0%
		transform translateY(0px)
		color colorGreen

	50%
		transform translateY(20px)

	60%
		opacity 0

	100%
		fill colorGreen
		opacity 0

// [animate 2]


@keyframes bord-green
	0%  // fix bug IE обязательно должен быть начальный кадр в виде [0%] или [from], в современных браузерах начальный кадр может опустить
		box-shadow 0px 0px 0px 0px transparent

	28%,70%,100%
		box-shadow 2px 2px 0px 0px colorGreen, 5px 5px 0px 0px #f3f1f2, 7px 7px 0px 0px red, -2px -2px 0px 0px black, -5px -5px 0px 0px #f3f1f2, -7px -7px 0px 0px red


@keyframes bord-blue
	0% // fix bug IE во что бы то ни стало должно быть указано начальное состояние box-shadow, порядок записии не имеет значения
		box-shadow 0px 0px 0px 0px transparent

	28%,70%,100%
		box-shadow 2px 2px 0px 0px colorBlue, 5px 5px 0px 0px #f3f1f2, 7px 7px 0px 0px red, -2px -2px 0px 0px black, -5px -5px 0px 0px #f3f1f2, -7px -7px 0px 0px red


@keyframes bord-cyan
	0% // fix bug IE обязательно должен быть начальный кадр и исходное свойство box-shadow, допустимо начинать как с [100%] / [to]
		box-shadow 0px 0px 0px 0px transparent

	28%,70%,100%
		box-shadow 2px 2px 0px 0px colorCyan, 5px 5px 0px 0px #f3f1f2, 7px 7px 0px 0px red, -2px -2px 0px 0px black, -5px -5px 0px 0px #f3f1f2, -7px -7px 0px 0px red


@keyframes bord-orange
	0% // fix bug IE обязательно должен быть начальный кадр, в IE 11 работает
		box-shadow 0px 0px 0px 0px transparent

	28%,70%,100%
		box-shadow 2px 2px 0px 0px colorOrange, 5px 5px 0px 0px #f3f1f2, 7px 7px 0px 0px red, -2px -2px 0px 0px black, -5px -5px 0px 0px #f3f1f2, -7px -7px 0px 0px red


@keyframes bord-purple
	0% // что бы box-shadow сработал должен быть указан начальный кадр с изначальным состоянием свойства box-shadow, формат цвета любой работающий в IE
		box-shadow 0px 0px 0px 0px transparent

	28%,70%,100%
		box-shadow 2px 2px 0px 0px colorPurple, 5px 5px 0px 0px #f3f1f2, 7px 7px 0px 0px red, -2px -2px 0px 0px black, -5px -5px 0px 0px #f3f1f2, -7px -7px 0px 0px red
