.svg-wr--green
	background-color colorGreen = #1baf5d
.svg-wr--blue
	background-color colorBlue = #1d73b0
.svg-wr--cyan
	background-color colorCyan = #1db0ab
.svg-wr--orange
	background-color colorOrange = #f19e1f
.svg-wr--purple
	background-color colorPurple = #88499c

.svg-button--small
	size(rem(7rem),rem(7rem))
.svg-button--Xsmall
	size(rem(10rem),rem(10rem))
.svg-button--medium
	size(rem(15rem),rem(15rem))
.svg-button--Xmedium
	size(rem(20rem),rem(20rem))
.svg-button--big
	size(rem(30rem),rem(30rem))
.svg-button--Xbig
	size(rem(35rem),rem(35rem))
.svg-button--large
	size(rem(40rem),rem(40rem))
.svg-button--Xlarge
	size(rem(45rem),rem(45rem))
