.search
	height rem(395rem)
	background gray url('../img/bg-search.jpg') no-repeat 0 5%
	background-size cover


	&__inner
		display flex
		flex-wrap wrap
		justify-content space-around
		margin 0 auto
		width rem(490rem)


	&__caption
		margin-top 50px
		font-size rem(30rem)
		line-height rem(48rem)
		font-weight 400
		color white


.search-form
	display flex
	flex-wrap wrap
	justify-content space-around


	&__wrapper
		position relative


	&__select
		width 220px
		padding 20px
		box-sizing border-box
		border 1px solid rgba(255,255,255, 0.2)
		border-radius 25px/30px
		background-color rgba(255,255,255, 0.1)
		color white
		-webkit-appearance none
		-moz-appearance none
		-ms-appearance none
		appearance none
		outline none
		font-size rem(18rem)
		font-family 'GTM-Book'
		box-shadow 1px 1px 2px 0px rgba(1,1,1, 0.3)

		&:hover
			border 1px solid rgba(255,255,255, 0.7)
			transition border 0.215s

select::-ms-expand
	display none


.search-form__input
	width 465px
	margin 30px 0px
	font-size rem(14rem)
	transition background-color 0.325s, border 0.325s

	&:hover
		border 1px solid rgba(255,255,255, 1)


	&:focus
		background-color rgba(1,1,1, 0.85)
		border 1px solid rgba(1,1,1, 1)
		transition background-color 0.325s, border 0.325s



.search-form__select option
	color black
	background-color #e2dee0
	font-size rem(14rem)
	font-weight normal


.search__arrow-down
	top 25px
	left 185px
	fill white


.btn-ellipse
	width 145px
	box-sizing border-box
	border-radius 35px/36px
	background-color colorLightRed
	font-size rem(18rem)
	line-height rem(48rem)
	box-shadow inset 0px -3px 0px 0px #c1412a
	transition background-color 0.325s, box-shadow 0.225s

	&:hover
		background-color #c1412e
		box-shadow inset 0px -3px 0px 1px #b3311e

