.search
	height rem(395rem)
	background gray url('../img/bg-search.jpg') no-repeat 0 5%
	background-size cover


	&__inner
		display flex
		flex-wrap wrap
		justify-content space-around
		margin 0 auto
		width rem(490rem)


	&__caption
		margin-top 50px
		font-size rem(30rem)
		line-height rem(48rem)
		font-weight 400
		color white


	&__arrow-down
		top 25px
		left 185px
		fill white



.search-form
	display flex
	flex-wrap wrap
	justify-content space-around


	&__wrapper
		position relative


	&__select
		width 220px
		padding 20px
		box-sizing border-box
		border 1px solid rgba(255,255,255, 0.2)
		border-radius 25px/30px
		background-color rgba(255,255,255, 0.1)
		color white
		outline none
		font-size rem(18rem)
		font-family 'GTM-Book', Arial, Calibri, 'Trebuchet MS', sans-serif
		box-shadow 1px 1px 2px 0px rgba(1,1,1, 0.3)

		&:hover
			border 1px solid rgba(255,255,255, 0.7)
			transition border 0.215s

		option
			color black
			background-color #e2dee0
			font-size rem(14rem)
			font-weight normal


	&__input
		width 465px
		margin 30px 0px
		font-size rem(14rem)
		transition background-color 0.325s, border 0.325s

		&:hover
			border 1px solid rgba(255,255,255, 1)

		&:focus
			background-color rgba(1,1,1, 0.85)
			border 1px solid rgba(1,1,1, 1)
			transition background-color 0.325s, border 0.325s



// Desktop-First
// От большого к меньшему
// Используем @media (max-width)


@media (max-width: 510px)
	.search__inner
		max-width 450px


	.search-form__select
		width 180px


	.search-form__input
		max-width 400px
		width 100%


	.search__arrow-down
		left 150px


@media (max-width: 360px)
	.search-form__input
		max-width 290px


// mobile style
@media (max-width 450px)
	.search
		height auto


	.search__inner
		max-width 320px


	.search__caption
		margin-top 20px
		font-size rem(18rem)


	.search-form
		max-width 320px


	.search-form__wrapper
		margin-bottom 20px


	.btn-ellipse--search
		margin-bottom 40px
