.filter
	width 100%
	height 65px
	background-color white
	margin-bottom 45px
	border-bottom 1px solid #e2dee0


	&__inner
		width rem(980rem)
		display flex
		flex-wrap wrap
		align-items center
		justify-content space-between
		margin 0px auto
		background-color white


	&__time // [1] left
		display flex
		justify-content space-between
		width 270px
		padding-top 10px


	&__link
		font-size rem(12rem)
		line-height rem(48rem)
		color colorLightGray
		text-transform uppercase
		text-decoration none
		transition color .1s


		&:hover
			color colorBlackGray


	&__link-active
		color colorRed


		&:hover
			color colorRed


	&__location // [2] middle
		width 260px
		padding-top 10px


	&__tag // [3] right
		width 305px
		display flex
		align-items flex-start
		justify-content space-between
		padding-top 10px


	&__tag-name
		align-self center
		text-transform uppercase
		color colorLightGray


	&__arrow-down
		top 14px
		left 85px
		fill colorLightGray


	&__marker
		top 12px
		left 95px
		fill colorLightGray



.filter-form
	display flex
	justify-content space-around


	&__wrapper
		position relative


	&__select
		width 120px
		box-sizing border-box
		padding 12.5px 12.5px 12.5px 20px
		border 1px solid rgba(150,165,167,.5)
		border-radius 25px/30px
		background-color rgba(255,255,255, 0.1)
		color colorLightGray
		-webkit-appearance none
		-moz-appearance none
		-ms-appearance none
		appearance none
		outline none
		text-transform uppercase
		font-size rem(12rem)
		font-family 'GTM-Medium'


		&:hover
			border 1px solid colorLightGray
			transition border 0.215s


		option
			color black
			background-color #e2dee0
			font-size rem(14rem)
			font-weight normal


.btn-ellipse--filter
	width 125px
	min-height auto
	height 40px
	padding 0px
	padding-right 20px
	background-color white
	box-shadow none
	border 1px solid rgba(150,165,167,.5)
	color colorLightGray
	font-size rem(12rem)
	line-height rem(24rem)

	&:hover
		background-color transparent
		box-shadow none
		border 1px solid colorLightGray


.svg-wr--filter
	size(40px,40px)
	background-color #b6c0c1
	color white
	fill currentColor


.svg-wr--filter .svg--house
	size(rem(20rem),rem(20rem))


.svg-wr--filter .svg--personal
	size(rem(20rem),rem(20rem))


.svg-wr--filter .svg--education  // не изменять
	size(rem(30rem),rem(30rem))


.svg-wr--filter .svg--music
	size(rem(20rem),rem(20rem))


.svg-wr--filter .svg--train
	size(rem(20rem),rem(20rem))
