.footer
	height 500px
	display flex
	flex-flow nowrap column
	align-items center
	background gray url(../img/bg-footer.jpg) no-repeat 0 5%
	background-size cover
	scroll-behavior smooth


	&__subscribe
		max-width 980px
		width 100%
		margin-top 50px
		padding-bottom 50px
		box-shadow 0px 1px 0px 0px rgba(255,255,255, 0.1)


	&__caption
		font-size rem(24rem)
		line-height rem(30rem)
		color white
		text-align center


	&__form
		max-width 490px
		box-sizing border-box
		margin 0px auto
		padding 0px 20px
		position relative
		display flex
		justify-content center


	&__input
		width 490px
		max-height 60px
		box-sizing border-box
		padding 20px 153px 20px 50px
		border 1px solid rgba(255,255,255, 0.2)
		border-radius 25px/30px
		background-color rgba(255,255,255, 0.1)
		font-family 'GTM-Book', Arrial, Calibri, 'Trebuchet MS', sans-serif
		font-size rem(16rem)
		color white
		outline none
		box-shadow 1px 1px 2px 0px rgba(1,1,1, 0.3)
		transition background-color 0.325s, border 0.325s

		&:hover
			border 1px solid rgba(255,255,255, 1)

		&:focus
			background-color rgba(1,1,1, 0.85)
			border 1px solid rgba(1,1,1, 1)
			transition background-color 0.325s, border 0.325s


	&__info
		width 980px
		margin-top 40px
		display flex
		justify-content space-around


	&__mailbox
		top 22px
		left 30px
		fill white


	&__list-caption
	&__social-caption
		display inline-block
		vertical-align top
		margin 0px
		margin-bottom 15px
		font-size rem(16rem)
		font-weight 400
		color white
		box-shadow 0px 1px 0px 0px #534d4c


	&__list
		padding 0px
		margin 0px
		list-style none


	&__link
		font-family 'GTM-Book', Arrial, Calibri, 'Trebuchet MS', sans-serif
		color #c0bebc

		&:visited
			color colorGreen

		&:active
			color colorLightGray

		&:hover
			color colorRed

			&:active
				color #c1412e


	&__social-icon
		margin-top 10px
		display flex
		justify-content space-between


	&__copyright
		margin-top 55px
		color white


	&__link-svg
		line-height rem(0rem)

		&:hover .svg-public--fb
			fill #4867aa

		&:hover .svg-public--tw
			fill #41abe1

		&:hover .svg-public--gp
			fill #dc4a38

		&:hover .svg-public--yt
			fill #fe021b


.btn-ellipse--subscribe
	position absolute
	top 5px
	right 25px
	font-size rem(14rem)
	max-height 50px
	min-height 50px
	padding 0px 10px
	border-radius 22px/29px


.svg-public
	size(rem(30rem),rem(30rem))
	fill white


.svg-public--fb
	transition fill .325s

.svg-public--tw
	transition fill .325s

.svg-public--gp
	transition fill .325s

.svg-public--yt
	transition fill .325s



// Desktop-First
// От большого к меньшему
// Используем @media (max-width)


@media (max-width: 1100px)
	.footer__info
		width 100%
		max-width 980px


@media (max-width: 880px)
	.footer__info
		width 100%


@media (max-width: 530px)
	.footer__input
		width 100%


	.footer__info-column:last-child
		width 34%
		text-align center


	.footer__copyright
		margin-top 35px


	.svg-public
		size(rem(25rem),rem(25rem))


// mobile от 0px до 360px
@media (max-width: 360px)
	.footer
		height auto


	.footer__subscribe
		max-width 320px


	.footer__input
		max-width 320px
		padding 20px  122px 20px 35px


	.btn-ellipse--subscribe
		max-width 115px


	input:-ms-input-placeholder
		font-size 12px

	input::-ms-input-placeholder
		font-size 12px

	input::-moz-placeholder
		font-size 12px

	input::-webkit-input-placeholder
		font-size 12px

	// в качестве экспиримента написать JS добавляющий/удаляющий классы в зависимости от ширинны экрана
	// который будет для .footer__mailbox добавлять нужный класс с размерами SVG


	.footer__info
		max-width 360px
		flex-wrap wrap


	.footer__info-column:last-child
		width auto


	.footer__social-caption
		display table
		margin 30px auto 15px


	.footer__copyright
		margin-top 30px


	.svg-public
		size(rem(35rem),rem(35rem))


// mobile от 0px до 320px
@media (max-width: 340px)
	.footer__form
		max-width 310px
		margin 0 auto


	.footer__input
		max-width 310px



