.header
	width 100%
	background-image linear-gradient(to right, white rem(980rem), colorRed rem(980rem))

.main-nav
	display flex
	width rem(980rem)
	margin 0px auto

.main-nav__list
	position relative
	width rem(980rem)
	display flex
	justify-content space-between
	list-style none
	margin 0px
	padding 0px

	li:first-child
		margin-right auto

	li:nth-last-of-type(3) a
		padding-right 25px


.main-nav__link
	display block
	padding 25.5px 15px
	text-transform uppercase
	background-color white
	color colorLightGray
	text-decoration none

.main-nav__link--down
	padding 22px 20px 16px
	background-color #e2dee0

.svg-sprites__arrow-down
	size(rem(30rem), rem(30rem))

.logotype
	size(150px, 75px)
	vertical-align top

.svg-sprites__user
	position absolute
	top 28px
	left 20px
	size(rem(18rem), rem(18rem))
	color white















































	// &::before
	// 	content ''
	// 	position absolute
	// 	top 28px
	// 	left 20px
	// 	width 18px
	// 	height 18px
	// 	background-image url('../svg-sprites/sprite-symbol.svg#user')
	// 	background-size 18px auto
	// 	background-repeat no-repeat


// @media (min-width: 1430px)
// 	.header
// 		background-image linear-gradient(to right, white rem(1200rem), colorRed rem(1200rem))

// // @media (min-width: )
// // 	.header
// // 		background-image linear-gradient(to right, white rem(1200rem), colorRed rem(1200rem))


// .many-sprite
// 	outline 1px solid yellow
// 	position relative

// 	&::before
// 		// content url(../svg-sprites/sprite-symbol.svg#arrow-down)
// 		content ''
// 		background-image url('../svg-sprites/sprite-symbol.svg#arrow-down')
// 		width: 300px
// 		height 280px
// 		background-color rgba(144,144,11, 0.2)
// 		background-size 270px auto
// 		background-repeat no-repeat
// 		position absolute
// 		top 0px
// 		left 0px
// 		fill red












